@font-face {
    font-family: "Orbitron";
    src: url('Orbitron-VariableFont_wght.ttf') format('truetype');
  }

body {
    background-color: #000114;
    color: #ffffff;
    font-family:'Orbitron'
}

img {
  height:auto;
}

body {
  margin:20;
}

small {
  font-size:10px;
}

nav {
  border-radius: 0px 0px 10px 10px;
  background-color: black;
}

.playframe {
  border-radius: 10px;
  background-color: cyan;
}

.itchframe {
  border-radius:20px;
  border-width: 3px;
  border-color:white;
}