@font-face {
  font-family: "Orbitron";
  src: url('Orbitron-VariableFont_wght.ttf') format('truetype');
}

body {
  background-color: #000114;
  color: #ffffff;
  font-family:'Orbitron';
  margin:20;
}


img {
height:auto;
}

small {
font-size:10px;
}

nav {
border-radius: 0px 0px 15px 15px;
background-color: black;
margin:20;
}

.playframe {
border-radius: 15px;
background-color: black;
}

.itchframe {
border-radius:20px;
border-width: 3px;
border-color:white;
background-color: black;
}

.textlink{
color:lightblue;
font-weight: bold;
}

.landlordlink {
color:#FCD300;
}

.landlordbutton {
background-color:#FCD300;
}

.landlordbackground {
background-color: #060500;
}

@media (max-width: 768px) {
  .card {
      margin-bottom: 20px;
      background-color: black;
  }
}

@media (max-width: 600px) {
  #homeBanner {
      display: none;
  }
}

@media (max-width: 600px) {
  hr {
      display: none;
  }
}

.poem {
  overflow: scroll;
  scrollbar-color: black #000114;
  scrollbar-width: thin;
}

.card-body {
  background-color: black;
}